*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(https://images6.alphacoders.com/735/735997.jpg);
    color: rgb(255, 255, 255);
    /* color: rgb(207, 82, 201); */
    min-height: 100vh;
    font-family: 'Prompt', sans-serif;
}

header{
    background-color: rgb(0, 0, 0);
    font-size: 90px;
    text-align: center;
}


/* inputField */
.inputField{
    max-width: 950px;
    /* background-color: rgb(51, 48, 48); */
    width: 100%;
    margin: 30px auto;
    /* margin-right: 30px auto;
    margin-left: 30px auto; */
    color: rgb(15, 15, 15);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


.inputField input{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    border-radius: 5px 0px 0px 5px;
}

.inputField button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    color: chartreuse;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.inputField button:hover{
    background: chartreuse;
    color: #fff;
}


/* todo */
.todoList{
    min-width: 30%;
    list-style: none;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-right: 350px;
    
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    transition: all 0.5s ease;
    border-radius: 5px 5px 5px 5px;
    /* cursor: pointer;
    width: 500px;
    height: 80px; */
    align-items: center;
    height: 55px;
    box-shadow: 0px 10px 15px rgba(36, 35, 35, 0.1);
    
}

.todo:hover{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    /* overflow: hidden; */
}
.todo:hover button{
    opacity: 1;
    cursor: pointer;
    
}
.todo li{
    flex: 1;
}

.todo-item {
    padding: 10px 0px 10px 30px;
}

/* done */
.doneList{
    min-width: 30%;
    list-style: none;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-right: 350px;
    
}
.doneList li{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 5px 5px 5px 5px;
}
.done{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 5px 5px 5px 5px;
    
}
.done-item{
    text-decoration: line-through;
    opacity: 0.5;
}

.line-through{
    padding: 10px 0px 10px 30px;
    align-items: center;
    opacity: 0.5;
}


/* button */
.trash-btn,
.complete-btn {
    background: #ffffff;
    color:white;
    border: none;
    padding: 1.5rem;
    height: 70px;
    width: 150px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s ease;
    /* border-radius: 0px 5px 5px 0px; */
}
/* .trash-btn{
    background: rgb(255, 255, 255);
    color: #fff;
    border-radius: 0px 5px 5px 0px;
} */

.trash-btn{
    background: rgb(207, 27, 27);
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    height: 70px;
    width: 150px;
    opacity: 0;
    transition: all 0.5s ease;
}

/* .complete-btn{
    background: rgb(255, 255, 255);
    color: #fff;
    border-radius: 0px 5px 5px 0px;
} */
.complete-btn{
    background: rgb(29, 202, 57);
    color: #fff;
    /* border-radius: 0px 5px 5px 0px; */
    height: 70px;
    width: 150px;
    opacity: 0;
    transition: all 0.5s ease;
}





.fa-trash, 
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}




